@page "/qot"
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>QOT</PageTitle>

<div class="card w-80 bg-base-200 border-2 border-neutral mb-4">
    <div class="card-body">
        <h2 class="font-bold text-2xl">Current Info</h2>
        @if (qot is null)
        {
            <span class="loading loading-dots loading-md"></span>
        }
        else
        {
            <p>
                <span class="font-medium text-xl">Index:</span> <span class="text-lg">@qot.Index</span>
            </p>
            <p>
                @*this is the only acceptable format, the US one is a mistake*@
                <span class="font-medium text-xl">Date:</span> <span class="text-lg">@qot.Date.ToString("d-M-yyyy")</span>
            </p>
            <p>
                <span class="font-medium text-xl">Channel:</span> <span class="text-lg">
                    @if (ActiveChannel is null)
                    {
                        <span class="loading loading-dots loading-sm"></span>
                    }
                    else
                    {
                        @ActiveChannel
                    }
                </span>
            </p>
        }
    </div>
</div>
<ChangeChannel/>

@if (qot is not null)
{
    <div class="card w-80 bg-base-200 border-2 border-neutral mb-4">
        <EditForm class="card-body w-full flex flex-col gap-4" OnValidSubmit="@OnSetQOT" Model="@newQOT">
            <h2 class="text-2xl font-bold">Update QOT</h2>
            <DataAnnotationsValidator/>
            <ValidationSummary class="text-error font-bold text-center"/>
            <InputNumber class="input border-2 border-neutral bg-base-300 text-xl w-full" @bind-Value="newQOT!.Index"/>
            <InputDate class="input border-2 border-neutral bg-base-300 text-xl w-full" @bind-Value="newQOT.Date"/>
            <button class="btn btn-primary text-2xl text-primary-content " type="submit">Submit</button>
        </EditForm>
    </div>
}