@inherits LayoutComponentBase
@using BlazorPageScript

<Header/>
<Aside/>

<div class="sm:ml-64 p-4 flex-col items-center justify-center block" style="height: calc(100vh - 4rem)">
   @Body
</div>
<PageScript Src="./js/themeManager.js"/>