@page "/qot"
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>QOT</PageTitle>


<main class="h-full">
    <div class="flex flex-col gap-4">
        <div class="flex flex-col md:flex-row gap-4 flex-wrap">
            <CurrentInfo/>
        </div>
        <div class="flex flex-col lg:grid lg:grid-cols-2 2xl:grid-cols-4 lg:grid-rows-1 gap-4">
            <div class="flex-1">
                <UserReplies/>
            </div>
            <div class="flex-1">
                <UpdateQot/>
            </div>
        </div>
    </div>
</main>