@using DarkBot.Models
@using Newtonsoft.Json
<div class="card max-w-fit bg-base-200 border-2 border-neutral mb-4">
    @if (Guild is null)
    {
        
    }
    else
    {
        <div class="card-body flex-row">
            <div class="avatar text-center">
                <div class="w-24 rounded-xl">
                    <img src="default.jpg"/>
                </div>
            </div>
            <div>
                <h3 class="font-bold text-2xl">Current Guild</h3>
                <p>
                    <span class="font-medium text-xl">Name:</span> <span class="text-lg">@Guild.Name</span><br/>
                    <span class="font-medium text-xl">Members:</span> <span class="text-lg">@Guild.MaxMembers</span>
                </p>
            </div>
        </div>
    }
</div>

@code{

    private ActiveGuildModel? Guild { get; set; }
    
    [Inject] public HttpClient Client { get; set; } = null!;
    [Inject] public NavigationManager Manager { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        var result = await Client.GetAsync($"{Manager.BaseUri}api/Home/Guild");
        if (result.IsSuccessStatusCode)
        {
            var content = await result.Content.ReadAsStringAsync();
            Guild = JsonConvert.DeserializeObject<ActiveGuildModel>(content);
        }
    }

}