@rendermode InteractiveServer

<header class=" h-16 border-b-2 border-b-neutral text-base-content bg-base-200 flex justify-between items-center">
    <div class="flex gap-4 w-64 h-full items-center justify-center">
        <img src="icon.png" alt="">
        <a class="text-xl font-bold">DarkBot</a>
    </div>
    <div class=" float-end w-64 flex justify-center items-center h-fit">
        <AuthorizeView>
            <Authorized>
                @{
                    var claims = new Dictionary<string, string?>();
                    foreach (var claim in context.User.Claims)
                    {
                        if (!claims.ContainsKey(claim.Type))
                        {
                            claims.Add(claim.Type, claim.Value);
                        }
                    }
                }
                @*The null check ensures that there is at least username if the user hasn't set its Display Name*@
                <p class="text-xl mx-2">@(claims["GlobalName"] ?? claims["Username"])</p>

                <div class="dropdown dropdown-end">
                    <div tabindex="0" role="button" class="avatar w-10 h-10 flex items-center">
                        <div class="w-12 rounded-full hover:rounded-xl transition-radius">

                            @if (string.IsNullOrEmpty(claims["Avatar"])) @*string.IsNullOrWhiteSpace(claims["Avatar"])*@
                            {
                                <img src="default.jpg"/>
                            }
                            else
                            {
                                <img src=@($"https://cdn.discordapp.com/avatars/{claims["Id"]}/{claims["Avatar"]}")/>
                            }

                        </div>

                    </div>

                    <ul tabindex="0" class="dropdown-content z-[100] p-2 border-2 border-neutral bg-base-200 rounded-box w-52 mt-5 flex flex-col gap-2">
                        <li class="w-full">
                            <LogoutButton/>
                        </li>
                        <hr>
                        <li class="flex items-center justify-center p-2">
                            <ThemeSwitch/>
                        </li>
                    </ul>
                </div>
            </Authorized>
            <NotAuthorized>
                <ThemeSwitch/>
                <a href="/api/Account/Authorize" class="btn btn-primary text-primary-content">Sign in</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</header>